{% extends 'base.html' %}

{% block title %}Network Configuration Automation{% endblock %}

{% block content %}
<h1>Network Configuration Automation</h1>

<p class="blogtext">MPLS is widely used in telecommunications and enterprise networks due to its ability to improve data transfer speeds and enhance routing efficiency. However, the manual configuration required for MPLS routing can be complicated and time consuming, particularly when working with extensive network topologies. This project explores a solution: using Python scripting to automate the MPLS network configuration within GNS3, streamlining deployment and ensuring consistency.
<br>
<br>
The key goals of this automation project were to provide an intuitive way of configuring MPLS networks, reduce the time and effort required for manual configuration, and ensure that the network configuration is consistent across all devices. The Python script developed for this project creats.
<br>
<br>
</p>









{% endblock %}
