html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto; 
}

/* body {
    display: flex;
    flex-direction: column;
} */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



footer {
    text-align: center;
    padding: 10px;
    background-color: #1f1f1f;
    color: #ffffff;
}


/* body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */

header {
    background-color: #1f1f1f;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between; /* Spread items across navbar */
    align-items: center; /* Vertically center the navbar items */
    padding: 10px 20px;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #39ff14;
}



footer {
    text-align: center;
    padding: 10px;
    background-color: #1f1f1f;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    text-align: center;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 10px;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.grid-item p {
    margin-top: 10px;
    color: #ffffff;
}

.eyes {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.eye {
    width: 25px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s; /* Smooth transition for blinking */
}

.pupil {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    transition: opacity 0.2s; /* Smooth transition for blinking */
}


#snake-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

canvas {
    background-color: #000;
    border: 2px solid #ffffff;
    display: block;
}

#score {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin-top: 20px;
}


/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: 'Press Start 2P', cursive;
    /* background: no-repeat url("../images/retro.jpg"); */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    flex-grow: 1; /* This will take up remaining space, pushing the footer to the bottom */
}

h1 {
    color: #39ff14;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 0;
}

.button {
    /* background-color: #39ff14;
    color: #1a1a1a;
    padding: 10px 20px; */
    color: #f0f0f0;
    text-decoration: none;
    /* font-size: 14px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s; */
}

.button:hover {
    background-color: #1a1a1a;
    color: #39ff14;

}

.section {
    margin: 50px 0;
}

.skills, .projects, .contacts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill, .project, .contact{
    background-color: #333;
    color: #f0f0f0;
    text-decoration: none;
    border: 2px solid #39ff14;
    padding: 20px;
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    text-align: left;
    min-width: 35%;
}


.skill:hover, .project:hover, .contact:hover {
    background-color: #1a1a1a;
    color: #39ff14;
    cursor: pointer;
    border: 2px solid #f0f0f0;;
}

.footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #000;
    color: #f0f0f0;
    text-align: center;
    position: fixed;
    bottom: 0;
}

/* Arcade Background */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://www.transparenttextures.com/patterns/pixelll.png');
    opacity: 0.2;
    z-index: -1;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    z-index:-100;
    opacity: 0.1;
  }

.abt{
    text-align: left;
    /* text-align: justify; */
    padding-top: 10px;
    /* word-spacing: normal; */
}














#pacman {
    height:450px;
    width:342px;
    margin:20px auto;
}
#shim { 
    font-family: BDCartoonShoutRegular; 
    position:absolute;
    visibility:hidden
}

.canva { 
    width:342px;
    margin:0px auto;
    font-family:sans-serif; 
}

.clyde {
    background-color: orange;     
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

.scared-ghost {
    background-color: aquamarine;
}
.separator {
    min-height: 50px;
}