html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto; 
    line-height: 180%;
    overscroll-behavior: none;
}

/* body {
    display: flex;
    flex-direction: column;
} */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



footer {
    text-align: center;
    padding: 10px;
    background-color: #1f1f1f;
    color: #ffffff;
}


/* body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */

header {
    background-color: #1f1f1f;
    max-height: max-content;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 998;
}

nav {
    display: flex;
    justify-content: space-between; /* Spread items across navbar */
    align-items: center; /* Vertically center the navbar items */
    padding: 10px 20px;



}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #39ff14;
}



footer {
    text-align: center;
    padding: 10px;
    background-color: #1f1f1f;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* .grid-item {
    display: block;
    text-align: center;
    background-color: #222222;
    border-radius: 10px;
    padding: 10px;
    height: 400px;
    width: 250px;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: auto;

}

.grid-item p {
    position: relative;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
}
.grid-item a {
    text-decoration: none;
} */


.eyes {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.eye {
    width: 25px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s; /* Smooth transition for blinking */
}

.pupil {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    transition: opacity 0.2s; /* Smooth transition for blinking */
}


#snake-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

canvas {
    background-color: #000;
    border: 2px solid #ffffff;
    display: block;
}

#score {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin-top: 20px;
}


/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: 'Press Start 2P', cursive;
    /* background: no-repeat url("../images/retro.jpg"); */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    flex-grow: 1; /* This will take up remaining space, pushing the footer to the bottom */
}

h1 {
    color: #39ff14;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 120%;
}

p {
    font-size: 100%;
    line-height: 1.5;
    margin: 10px 0;
}

.button {
    /* background-color: #39ff14;
    color: #1a1a1a;
    padding: 10px 20px; */
    color: #f0f0f0;
    text-decoration: none;
    /* font-size: 14px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s; */
}

.button:hover {
    background-color: #1a1a1a;
    color: #39ff14;

}

.section {
    margin: 50px 0;
}

.skills, .contacts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill, .contact{
    background-color: #333;
    color: #f0f0f0;
    text-decoration: none;
    border: 2px solid #39ff14;
    padding: 20px;
    margin: 10px;
    width: 350px;
    border-radius: 10px;
    text-align: left;
    min-width: 350px;

}

.contact p {
    /* font-size: 0.8dvw;
    font-size: 1vmax; */
    font-size: 12px;
}

.skill:hover, .contact:hover {
    background-color: #1a1a1a;
    color: #39ff14;
    cursor: pointer;
    border: 2px solid #f0f0f0;
}

.footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #000;
    color: #f0f0f0;
    text-align: center;
    position: fixed;
    bottom: 0;
}

/* Arcade Background */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('https://www.transparenttextures.com/patterns/pixelll.png'); */
    opacity: 0.2;
    z-index: -1;
}

/* video {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    z-index:-100;
    opacity: 0.1;
  } */

.abt{
    text-align: left;
    /* text-align: justify; */
    padding-top: 10px;
    /* word-spacing: normal; */
}

.education-section {
    margin-top: 20px;
}

.education-item {
    text-align: left;
    background-color: #1f1f1f;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.education-item h2 {
    font-size: 1.3dvw;
    color: #ffffff;
}

.education-item p {
    font-size: 0.8dvw;
    color: #cccccc;
}














#pacman {
    height:450px;
    width:342px;
    margin:20px auto;
}
#shim { 
    font-family: BDCartoonShoutRegular; 
    position:absolute;
    visibility:hidden
}

.canva { 
    width:342px;
    margin:0px auto;
    font-family:sans-serif; 
}

.clyde {
    background-color: orange;     
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

.scared-ghost {
    background-color: aquamarine;
}
.separator {
    min-height: 50px;
}




.exp {
    /* display: block; */
    /* display: flex; */
    flex-direction: column;
    text-align: center;
    background-color: #222222;
    margin: auto;
    min-height: 300px;
    width: 250px;
    align-items: stretch;
    
}

.exp a {
    text-decoration: none;
    
}

.imbox {
    margin: 0;
    display: block;
    height: 200px;
    width: 240px;
    border: 5px solid #39ff14;
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;

}


.imbox img {
    height: 200px;
    width: 200px;
}

.title {
    max-height: 150px;
    min-height: 75px;
    width: 100%;
    color: #000;
    background-color: #39ff14;
    border-radius: 0px 0px 10px 10px;
    align-items: flex-end;
    
}
.title p {
    bottom: 0px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
}

.project {
    /* display: block;
    align-items: center; */
    color: #f0f0f0;
    border: 2px solid #39ff14;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #3a3a3a;
    border-radius: 10px;
    height: 300px;
    /* min-height: max-content; */
    width: 250px;
    margin: auto;
    padding: 10px 0px 0px 0px;
}

.project h3 {
    position: relative;
    /* vertical-align: bottom; */
    /* top: 50%; */
}

.project:hover {
    background-color: #3a3a3a;
    color: #39ff14;
    cursor: pointer;
    border: 2px solid #f0f0f0;;
}

a {
    text-decoration: none;
    color: #39ff14;
}
.blogtext a:hover {
    color: #39ff14;
    text-shadow: 
    0 0 20px #2ecc71,
    0 0 30px #2ecc71;
}





























.blogimage {
    float: right;
    margin-left: 15px;
    width: 45dvw;
    max-width: 750px;
    min-width: 400px;
    height: auto;
    cursor: pointer;
}

.blogtext {
    text-align: left;
}


.popup {
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%; height: 100%;
    z-index: 999;
    display: none;
}

.popup span {
    position: absolute;
    top: 5px; right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 999;
}

.popup img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    /* max-width: 1900px; */
    object-fit: cover;
}



.vdoctr {
    /* float: right; */
    /* margin-left: 15px; */
    /* width: 45dvw; */
    max-width: 750px;
    /* min-width: 400px; */
    height: auto;
    /* cursor: pointer; */
}
.vdo {
    float: left;
    width: 50dvw;
    height: auto;
    opacity: 1;
    /* position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%); */
    /* max-width: 1900px; */
    /* object-fit: cover; */
}

.vmenum {
    text-align: left;
}