{% extends 'Mbase.html' %}

{% block title %}GreenGuardian{% endblock %}

{% block content %}
<h1>Green-Guardian</h1>
<img class="blogimage" src="{{ url_for('static', filename='images/M3Dmodel.png') }}" alt="GreenGuardian" style="width: 45dvw;">

<!-- <p>This project involved deploying a Proxmox server to host multiple virtual machines and containers.</p> -->

<div class="popup">
    <span>&times;</span>
    
    <img src="{{ url_for('static', filename='images/flyer.png') }}" alt="GreenGuardian" style="height : 85dvh;">
</div>

<p class="blogtext">
    This was our a school project developed in a team of 5 students; <a href="https://www.linkedin.com/in/kaoutar-el-arrag-891731180/" target="_blank">Kaoutar El Arrag</a>, <a href="https://www.linkedin.com/in/yaazza-ayoub-146528193/" target="_blank">yaazza ayoub</a>, <a href="https://www.linkedin.com/in/essgheir-kawtar-b808a5214/" target="_blank">ESSGHEIR Kawtar</a>, <a href="https://www.linkedin.com/in/amina-sakouti-a56a4322b/" target="_blank">Amina SAKOUTI</a> and myself . The objective of this project was to design an IoT device to assist users in plant care. The device monitors the plant's environment twice daily, providing users with insights into their plants' health. Additionally, it sends alert notifications if any intervention is required to improve the plants' conditions.
    <br>
    The materials used in this project were:
    <ul>
        <li class="vmenum">ESP8266 Development board</li>
        <li class="vmenum">LM393 Soil moisture sensor</li>
        <li class="vmenum">GL5516 LDR</li>
        <li class="vmenum">DHT11 Ambient humidity and temperature sensor</li>
    </ul>
</p>
    
<p class="blogtext">
    I was responsible for assembling the electronics, designing the PCB, and programming the ESP8266. The board was configured to initiate an interface that enables users to connect to their Wi-Fi network, read sensor data, and transmit it to a server via an API I developed using Python’s FastAPI. Additionally, I designed a 3D model of the device using Fusion 360.
</p>
    

<br>
<video class="vdo" controls>
    <source src="{{ url_for('static', filename='videos/Model3D.mp4') }}" type="video/mp4">
</video>

<script>
   
    document.querySelector('.blogimage').onclick = () =>{
        document.querySelector('.popup').style.display = 'block'
    }

    document.querySelector('.popup span').onclick = () =>{
        document.querySelector('.popup').style.display = 'none'
    };
</script>




{% endblock %}
