<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/fav.ico') }}">
    {% block head %}{% endblock %}

    
</head>
<body>
    <!-- <video autoplay muted loop>
        <source src="{{ url_for('static', filename='images/bg.mp4') }}" type="video/mp4">
      </video> -->
    <div class="wrapper">
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('education') }}">Education</a></li>
                    <!-- <li><a href="{{ url_for('projects') }}">Projects</a></li> -->
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
                 <!-- Eyes -->
                 <div class="eyes">
                    <div class="eye" id="eye-left">
                        <div class="pupil" id="pupil-left"></div>
                    </div>
                    <div class="eye" id="eye-right">
                        <div class="pupil" id="pupil-right"></div>
                    </div>
                </div>
            </nav>
        </header>
        
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        

        <!-- Footer -->
        <!-- <div class="footer">
            <p>© 2024 Yassine LAHMER - All Rights Reserved</p>
        </div> -->
        <footer>
            <p>© 2024 Yassine LAHMER - All Rights Reserved</p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
