{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contact Me</h1>
<p>If you want to reach out, feel free to contact me anytime.</p>

<!-- contacts Section -->
<div class="section">
    <h2>contacts</h2>
    <div class="contacts">


        <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#121;&#97;&#115;&#115;&#105;&#110;&#101;&#46;&#108;&#97;&#104;&#109;&#101;&#114;&#49;&#50;&#48;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;" class="contact">
                <h3>Email adress</h3>
                <p>yassine.lahmer120@gmail.com</p>
        </a>

        <a href="https://github.com/yssine" target="_blank" class="contact">
            <h3>Github</h3>
            <p>yssine</p>
        </a>

        <a href="https://www.linkedin.com/in/yassine-lahmer" target="_blank" class="contact">
            <h3>LinkedIn</h3>
            <p>Yassine Lahmer</p>
        </a>

        <a href="tel:+33786072046" target="_blank" class="contact">
            <h3>Phone number</h3>
            <p>+33 (0) 7 86 07 20 46</p>
        </a>


    </div>
</div>



{% endblock %}
