{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contact Me</h1>
<p>If you want to reach out, feel free to contact me anytime.</p>

<!-- contacts Section -->
<div class="section">
    <h2>contacts</h2>
    <div class="contacts">
        <div class="contact">
            <h3>Email adress</h3>
            <p>yassine.lahmer120@gmail.com</p>
        </div>
        <div class="contact">
            <h3>Github</h3>
            <p>yssine</p>
        </div>
        <div class="contact">
            <h3>LinkedIn</h3>
            <p>Python, Flask, Jinja2</p>
        </div>
        <div class="contact">
            <h3>Phone number</h3>
            <p>Python, Flask, Jinja2</p>
        </div>
        <div class="contact">
            <h3>Phone number</h3>
            <p>Python, Flask, Jinja2</p>
        </div>
        <div class="contact">
            <h3>Phone number</h3>
            <p>Python, Flask, Jinja2</p>
        </div>
        <div class="contact">
            <h3>Phone number</h3>
            <p>Python, Flask, Jinja2</p>
        </div>
        <div class="contact">
            <h3>Phone number</h3>
            <p>Python, Flask, Jinja2</p>
        </div>
        <div class="contact">
            <h3>Phone number</h3>
            <p>Python, Flask, Jinja2</p>
        </div>
        <div class="contact">
            <h3>Phone number</h3>
            <p>Python, Flask, Jinja2</p>
        </div>
        <div class="contact">
            <h3>Phone number</h3>
            <p>Python, Flask, Jinja2</p>
        </div>
        <div class="contact">
            <h3>Phone number</h3>
            <p>Python, Flask, Jinja2</p>
        </div>
        <div class="contact">
            <h3>Phone number</h3>
            <p>Python, Flask, Jinja2</p>
        </div>
    </div>
</div>



{% endblock %}
