{% extends 'base.html' %}

{% block head %}{% endblock %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 class="main-menu active">Main Menu</h1>
<div class="main-menu-container">
  <!-- <a href="{{ url_for('about') }}" class="menu-link"> <img src="{{ url_for('static', filename='images/about.webp') }}" loading="lazy" class="image-menue"> About</a>
  <a href="{{ url_for('education') }}" class="menu-link"> <img src="{{ url_for('static', filename='images/brain.webp') }}" loading="lazy" class="image-menue"> Education</a>
  <a href="{{ url_for('projects') }}" class="menu-link"> <img src="{{ url_for('static', filename='images/buildozer.webp') }}" loading="lazy" class="image-menue"> Projects</a>
  <a href="{{ url_for('contact') }}" class="menu-link"> <img src="{{ url_for('static', filename='images/journal.webp') }}" loading="lazy" class="image-menue"> Contact</a> -->

  <a href="{{ url_for('about') }}" class="menu-link" > About</a>
  <a href="{{ url_for('education') }}" class="menu-link"> Education</a>
  <a href="{{ url_for('projects') }}" class="menu-link"> Projects</a>
  <a href="{{ url_for('contact') }}" class="menu-link"> Contact</a>
</div>

{% endblock %}


