{% extends 'Mbase.html' %}

{% block title %} About {% endblock %}

{% block content %}
<h1 class="title">About</h1>
<div class="phased">
    <p>Greeting dear reader, before I tell you about myself, I hope everything is going your way, and I want to thank you for taking the time to check my portfolio, and learn about me. I really appreciate it.</p>
    <br/>
    <p>I am a young man who came all the way from a faraway land in North Africa called Morocco, where I accomplished the majority of my studies, and built my personality; from a young age, I was always curious, I love the questions "HOW?" and "WHY?" because they allow for a better understanding, therefore we can make more correct actions in life.</p>
    <br/>
    <p>I studied engineering and I got two degrees. I am currently a Technical Program Manager. I love to take care of my plants, and to tinker around with old hardware, creating home labs, servers, and hosting my own services.</p>
    <!-- <div class="status" id="status">Use Up/Down, Select, Home</div> -->
</div>
<style>
    p{
        letter-spacing: -1px;
        word-spacing: -2px;
        text-align: left;
        /* font-family: 'Courier New', Courier, monospace; */
        font-weight: bolder;
        font-size: 13px;
        /* text-shadow: 1px 1px #000000; */
        text-shadow: 0px 1px #274615;
        line-height: 1.2;


    }
</style>
{% endblock %}
