{% extends 'Mbase.html' %}

{% block title %}Education{% endblock %}

{% block content %}
<h1>My Education</h1>
<div class="education-section">
    <div class="education-item">
        <h2><span class="important" style="color: #39ff14;">Engineering Degree</span> | Telecommunications, Services & Usages </h2>
        <p><strong>INSA Lyon</strong> – Lyon, France (2022 - 2024)</p>
    </div>

    <div class="education-item">
        <h2><span class="important" style="color: #39ff14;">Engineering Degree</span> | Smart-ICT</h2>
        <p><strong>INPT</strong> – Rabat, Morocco (2020 - 2024)</p>
    </div>

    <div class="education-item">
        <h2><span class="important" style="color: #39ff14;">Intensive Courses</span> | Technologies & Industrial Science</h2>
        <p><strong>Omar Ibn Abdel Aziz</strong> – Oujda, Morocco (2018 - 2020)</p>
    </div>

    <div class="education-item">
        <h2><span class="important" style="color: #39ff14;">Baccalaureate</span> | Electrical Science & Technologies</h2>
        <p><strong>Mehdi Ben Barka</strong> – Oujda, Morocco (2017 - 2018)</p>
    </div>
</div>


{% endblock %}
