{% extends 'Mbase.html' %}

{% block title %}Education{% endblock %}

{% block content %}
<h1>My Education</h1>
<div class="education-section">
    <div class="education-item">
        <h2>Engineering Degree | Telecommunications</h2>
        <p><strong>INSA Lyon</strong> – Lyon, France (2022 - 2024)</p>
    </div>

    <div class="education-item">
        <h2>Engineering Degree | Smart-ICT</h2>
        <p><strong>INPT</strong> – Rabat, Morocco (2020 - 2024)</p>
    </div>

    <div class="education-item">
        <h2>Intensive Courses | Tech & Industrial Science</h2>
        <p><strong>Omar Ibn Abdel Aziz</strong> – Oujda, Morocco (2018 - 2020)</p>
    </div>

    <div class="education-item">
        <h2>Baccalaureate | Electrical Science & Tech</h2>
        <p><strong>Mehdi Ben Barka</strong> – Oujda, Morocco (2017 - 2018)</p>
    </div>
</div>
{% endblock %}
