{% extends 'Mbase.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to My Website</h1>
<p>While you are at it</p>

<p>Enjoy your time</p>

<div class="clock-component">
    <div class="clock" data-theme="dark">
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
        <div class="number"></div>
        <div class="hand minute-needle"></div>
        <div class="hand hour-needle"></div>
        <div class="hand second-needle"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/time.js') }}"></script>

{% endblock %}
