{% extends 'Mbase.html' %}

{% block title %} Projects {% endblock %}

{% block content %}
<h1 class="title">Projects</h1>
<div class="phased">
    <ul class="projectlist">
        <li class="selected item">Home Lab Server</li>
        <li class="item">3G/4G coverage Optimization</li>
        <li class="item">Green Guardian</li>
        <li class="item">MPLS Automation</li>
        <li class="item">Chat App</li>
        <li class="item">Portfolio</li>
    </ul>
    <div class="status" id="status">Use Up/Down, Select, Home</div>
    <!-- <div class="status" id="status">Use Up/Down, Select, Home</div> -->
</div>

<style>
    .projectlist{
        list-style: none;
        text-shadow: 0px 1px #274615;
        font-size: 14px;
    }
    .item.selected{
        background: rgba(0,0,0,0.25);
        color: #f5f5f5;
        color: #142231;
        font-weight: bolder;
    }
    .item{
        padding: 8px;
        border-radius: 6px;
        font-size: 16px;
    }
    
</style>



{% endblock %}
