{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1>My Projects</h1>




<style>
    .projects {
    /* display: grid; */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    /* display: block;
    align-items: center; */
    color: #61f1fd;
    border: 1px solid #ecf0f1;
    border-radius: 8px;
    box-shadow: 
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 1.5rem #bc13fe,
        0 0 0.8rem #bc13fe,
        /* 0 0 2.8rem #bc13fe, */
        inset 0 0 1.3rem #bc13fe; 


    /* border: 2px solid #39ff14; */
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #1f1f1f;
    border-radius: 10px;
    height: 300px;
    /* min-height: max-content; */
    width: 250px;
    margin: auto;
    padding: 10px 0px;
}

.project h3 {
    /* position: relative; */
    font-size: .8rem;
    /* vertical-align: bottom; */
    /* top: 50%; */
}

.project:hover {
    background-color: #1f1f1f;
    color: #61f1fd;
    cursor: pointer;
    border: 1px solid #ecf0f1;
    box-shadow: 
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 1.5rem #61f1fd,
        0 0 0.8rem #61f1fd,
        0 0 2.8rem #61f1fd,
        inset 0 0 1.3rem #61f1fd; 
}
</style>











<div class="projects">
    <a href="{{ url_for('project_detail', project_name='home_lab_server') }}" class="project">
        <img src="{{ url_for('static', filename='images/proxmox.png') }}" style="height: 190px; width: 190px;" alt="Home Lab Server">
        <h3>Home Lab Server</h3>
    </a>
    <a href="{{ url_for('project_detail', project_name='mpls_automation') }}" class="project">
        <img src="{{ url_for('static', filename='images/mpls.png') }}" style="height: 190px; width: 190px;" alt="Home Lab Server">
        <h3>Automation of MPLS Network Configuration</h3>
    </a>
    <a href="{{ url_for('project_detail', project_name='green_guardian') }}" class="project">
        <img src="{{ url_for('static', filename='images/GG.png') }}" style="width: 190px; height: 190px;" alt="Home Lab Server">
        <h3>Green Guardian</h3>
    </a>
    <a href="{{ url_for('project_detail', project_name='3g_4g_optimization') }}"class="project">
        <img src="{{ url_for('static', filename='images/house.png') }}" style="height: 190px; width: 190px;" alt="Home Lab Server">
        <h3>Optimization of 3G/4G Coverage</h3>
    </a>
    <a href="{{ url_for('project_detail', project_name='chat_app') }}" class="project">
        <img src="{{ url_for('static', filename='images/PyQt.png') }}" style="height: 190px; width: 190px;" alt="Home Lab Server">
        <h3>ChatApp</h3>
    </a>
    <a href="{{ url_for('project_detail', project_name='portfolio') }}" class="project">
        <img src="{{ url_for('static', filename='images/term.png') }}" style="height: 190px; width: 190px;" alt="Home Lab Server">
        <h3>Personal website</h3>
    </a>
    
</div>

{% endblock %}
